/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
  color: #333;
}

.navbar {
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4c6ef5;
  text-decoration: none;
}

.navbar-menu a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-menu .btn-primary {
  background-color: #4c6ef5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

/* Log In section styles */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
}

.login-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #4c6ef5;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.form-actions {
  text-align: center;
}

.form-actions .btn-primary {
  background-color: #4c6ef5;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.form-actions .btn-primary:hover {
  background-color: #2c4da4;
}

/* Footer styles */
.footer {
  background-color: #4c6ef5;
  color: white;
  text-align: center;
  padding: 1rem;
}
.error-message {
  background-color: #f8d7da; /* Svijetlocrvena pozadina */
  color: #721c24; /* Tamnocrvena boja teksta */
  border: 1px solid #f5c6cb; /* Svijetlocrveni okvir */
  padding: 10px 15px; /* Unutrašnji razmak */
  border-radius: 5px; /* Zaobljeni kutovi */
  font-size: 16px; /* Veličina fonta */
  margin: 10px 0; /* Razmak između poruka */
  display: flex;
  align-items: center; /* Poravnavanje teksta */
}
